<div class="card">
  <div class="card-body">
    <div class="row g-2">
      <div class="kanji-container col-3">
        <img [src]="kanji.image" alt="" />
      </div>
      <div class="col-9">
        <h1 style="font-weight: bold">
          @for (name of kanji.names; track kanji.id) {
            <label>{{name}}</label>
            @if (kanji.names && kanji.names.length > $index + 1 ) {
              <label>, </label>
            }
          }
        </h1>
        <hr />
        <div class="row g-2">
          <div class="col-6">
            <p>
              <label class="me-1" style="font-weight: bold">Kun:</label>
              @for (kun of kanji.kun; track $index) {
                <label class="tag">{{kun}}</label>
              }
            </p>
            <p>
              <label class="me-1" style="font-weight: bold">On:</label>
              @for (on of kanji.on; track $index) {
                <label class="tag">{{on}}</label>
              }
            </p>
            <p>
              <label class="me-1" style="font-weight: bold">Significado:</label>
              @for (meaning of kanji.meanings; track $index) {
                <label class="tag">{{meaning}}</label>
              }
            </p>
          </div>
          <div class="col-6">
            <label style="font-weight: bold">Ejemplos:</label>
            <ul>
              @for (word of kanji.examples; track word.id) {
                <li>
                  <p>
                    @for (char of word.chars; track char.id) {
                      <char [char]="char"></char>
                    }:
                    @for (meaning of word.meanings; track $index) {
                      <label class="tag">{{meaning}}</label>
                    }
                  </p>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
