<!-- <div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary" [routerLink]="['/', 'nihongo', 'kanjis']">Atras</button>
      <button class="btn btn-secondary" [routerLink]="['/', 'nihongo', 'kanjis']">Kanjis</button>
    </div>
  </div>
</div> -->

<div class="card mt-3">
  <div class="card-body">
    <div class="row g-2">
      <div class="kanji-container col-3">

        @if (kanji.id) {
          <img [src]="kanji.image" />
        } @else {
          <input type="file" class="form-control" id="floatingInput" (change)="fileSelected($event)" accept="image/png, image/jpeg" data-bs-theme="dark">
        }
      </div>
      <div class="col-9">

        <tag [configuration]="nameConfig"></tag>

        <hr />
        <div class="row g-2">
          <div class="col-6">
            <tag [configuration]="kunConfig"></tag>
            <tag [configuration]="onConfig"></tag>
            <tag [configuration]="meaningConfig"></tag>
          </div>
          <!-- <div class="col-6">
            <label style="font-weight: bold">Ejemplos:</label>
            <ul>
              @for (word of kanji.examples; track word.id) {
                <li>
                  <p>
                    @for (char of word.chars; track char.id) {
                      <char [char]="char"></char>
                    }:
                    @for (meaning of word.meanings; track $index) {
                      <label class="tag">{{meaning}}</label>
                    }
                  </p>
                </li>
              }
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


<pre>{{kanji|json}}</pre>