<div class="card">
  <div class="card-body">
    <div class="row g-2">
      <div class="kanji-container col-3">
        <img src="assets/img/kanji/食.png" alt="" />
      </div>
      <div class="col-9">
        <h1 style="font-weight: bold">しょく</h1>
        <hr />
        <div class="row g-2">
          <div class="col-6">
            <p><label style="font-weight: bold">Kun:</label> く, た</p>
            <p><label style="font-weight: bold">On:</label> ショク, ジキ</p>
            <p>
              <label style="font-weight: bold">Significado:</label> Comer,
              Comida
            </p>
          </div>
          <div class="col-6">
            <label style="font-weight: bold">Ejemplos:</label>
            <ul>
              @for (word of words; track word.id) {
                <li>
                  <p>
                    @for (char of word.chars; track char.id) {
                      <char [char]="char"></char>
                    }:
                    @for (meaning of word.meanings; track $index) {
                      <label class="tag">{{meaning}}</label>
                    }
                  </p>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
